{% extends 'libraire/base-libraire.html' %}

{% block content %}
    <div style="height: 100px"></div>
    <section style="max-width: 1400px;margin: auto;">
    {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
        <a href="{% url 'libraire_livre_add' %}" class="btn btn-success" >Add Livres</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Auteur</th>
                    <th>Jaquette</th>
                    <th>Editeur</th>
                    <th>Collection</th>
                    <th>Genre</th>
                    <th>Bibliotheque</th>
                    <th>Status</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>

                {% for livre in livres %}
                    <tr>
                        <td>{{ livre.titre }}</td>
                        <td>{{ livre.auteur }}</td>
                        <td>{{ livre.jaquette }}</td>
                        <td>{{ livre.editeur }}</td>
                        <td>{{ livre.collection }}</td>
                        <td>{{ livre.genre }}</td>
                        <td>{{ livre.biblio.name }}</td>
                        <td>
                            {% if livre.dispo %}
                                In <iconify-icon icon="fluent:presence-available-10-filled" style="color: green;" width="40" class="icone-center"></iconify-icon>
                            {% else %}
                                Out <iconify-icon icon="ic:baseline-log-out" style="color: red;" width="40" class="icone-center"></iconify-icon>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'libraire_livre_delete' livre.pk %}" class="btn btn-primary">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}